<div class="header" style="height: 60px;background-color: black;">
    <div class="menu-button">
        <div class="bienvenido">
            <h3 style="color: white;">Bienvenido(a) : {{nombre_usuario}}</h3>
        </div>
        <div class="button-espacio">
            <button (click)="cerrarSession()" class="button-salir" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" style="margin-top: 5px;">
                <mat-icon>home</mat-icon>
              </button>
        </div>

    </div>
</div>
<div class="body">
    <div class="producto">
        <h2>Productos</h2>
    </div>
    <div class="items">
        <mat-tab-group>
            <mat-tab label="Listar" (click)="listar()">
                <app-listar></app-listar>
            </mat-tab>
            <mat-tab label="Registrar" (click)="agregar()">
                <app-add></app-add>
            </mat-tab>
            <mat-tab label="Editar">
                <router-outlet></router-outlet>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>