.body {
    margin-top: 50px;
    text-align: center;
}

.items {
    width: 70%;
    margin: 0 auto;
}

.menu-button {
    text-align: end;
    display: flex;
}

.bienvenido {
    width: 80%;
    margin: 10px auto;
}

.button-espacio {
    width: 20%;
}