<div class="body">
    <div class="login">
        <form [formGroup]="form" (ngSubmit)="ingresar()">
            <img src="../../../assets/img/usuario.png" alt="" width="50%">
            <h1>Login</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off" [type]="hide ? 'password' : 'text'" formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" class="ancho button" mat-flat-button color="primary" [disabled]="form.invalid">Ingresar</button>
        </form>
    </div>
</div>