<div>
    <h1>Listado</h1>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre. </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="mensaje">
            <th mat-header-cell *matHeaderCellDef> Mensaje </th>
            <td mat-cell *matCellDef="let element"> {{element.mensaje}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fechanac">
            <th mat-header-cell *matHeaderCellDef> Fecha Nac</th>
            <td mat-cell *matCellDef="let element"> {{element.fechanac}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion</th>
            <td mat-cell *matCellDef="let element"><button (click)="editar(element)" mat-button color="primary">Editar</button><button (click)="eliminar(element)" mat-button color="warn">Eliminar</button></td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<div class="body" >
    <div class="login" [hidden]="mostrarEditar">
        <div>
            <h2>Editar</h2>
        </div>
        <form [formGroup]="form" style="margin-top: 10px;">
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input id="nombre" type="text" matInput autocomplete="off" formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input id="email" type="text" matInput autocomplete="off" formControlName="email">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Mensaje</mat-label>
                <input id="mensaje" type="text" matInput autocomplete="off" formControlName="mensaje">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Fecha</mat-label>
                <input id="fecha" type="date" matInput autocomplete="off" formControlName="fecha">
            </mat-form-field>
            <br>
            <button type="submit" (click)="editarContacto()" class="ancho button" mat-flat-button color="primary" >Editar</button>
        </form>
    </div>
</div>