<div class="body">
    <div class="login">
        <form [formGroup]="form" style="margin-top: 10px;">
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="email">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Mensaje</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="mensaje">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Fecha</mat-label>
                <input type="date" matInput autocomplete="off" formControlName="fecha">
            </mat-form-field>
            <br>
            <button type="submit" (click)="enviarDatos()" class="ancho button" mat-flat-button color="primary" [disabled]="form.invalid">Ingresar</button>
        </form>
    </div>
</div>